.footer {
  padding-top: 75px;
  margin-top: 75px;
  border-top: 1px solid #c4c4c4;
  @media (max-width: 950px) {
    padding-top: 50px;
    margin-top: 50px;
  }
  @media (max-width: 750px) {
    padding-top: 25px;
    margin-top: 25px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  max-width: 200px;
  &:first-child {
    max-width: 400px;
    @media (max-width: 1200px) {
      max-width: 1200px;
      margin: 0 auto;
      order: 1;
    }
  }
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 100%;
    margin-bottom: 50px;
  }
  @media (max-width: 750px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer__logo {
  text-decoration: none;
  display: inline-block;
}

.footer__logo-img {
  max-width: 100%;
  display: inline-block;
}

.footer__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #848484;
  @media (max-width: 1200px) {
    max-width: 400px;
  }
  @media (max-width: 750px) {
    max-width: 750px;
  }
  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.footer__rights {
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  color: #848484;
  display: block;
  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.footer__title {
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  margin: 10px 0 35px;
  @media (max-width: 750px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  color: #848484;
  display: block;
  margin-bottom: 20px;
  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.social__link {
  display: block;
  text-decoration: none;
  margin: 15px;
}

.social__image {
  display: block;
}
