*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  color: $gray;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  color: #000;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  color: #fff;

  width: 132px;
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: $orange;
  cursor: pointer;
  &:hover {
    background-color: #ff8400;
  }
}

// font-family: 'Inter', sans-serif;
// font-family: 'Playfair Display', serif;
