.home__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  @media (max-width: 550px) {
    padding-top: 20px;
  }
}

.home__content {
  width: 470px;
  max-width: 100%;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.home__title {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.25;
  color: $black;
  max-width: 370px;
  margin-bottom: 70px;
  @media (max-width: 1200px) {
    max-width: 1200px;
    text-align: center;
    margin-bottom: 40px;
  }
  @media (max-width: 950px) {
    font-size: 58px;
    margin: 0;
  }
  @media (max-width: 800px) {
    font-size: 52px;
  }
  @media (max-width: 800px) {
    font-size: 46px;
  }
  @media (max-width: 800px) {
    font-size: 40px;
  }
}

.home__subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.25;
  color: $black;
  margin-bottom: 60px;
  position: relative;
  @media (max-width: 1200px) {
    max-width: 1200px;
    text-align: center;
  }
  @media (max-width: 550px) {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  &::before {
    content: '';
    width: 32px;
    height: 2px;
    border-radius: 4px;
    background-color: $black;
    left: 0;
    bottom: -15px;
    position: absolute;
    @media (max-width: 1200px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.input__wrapper {
  margin-bottom: 25px;
  position: relative;
  &::after {
    content: '';
    width: 9px;
    height: 6px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url(../images/arrow-down.svg);
    position: absolute;
    pointer-events: none;
  }
}

.form__select {
  font-family: inherit;
  color: $gray;
  width: 220px;
  height: 52px;
  max-width: 100%;
  border-radius: 6px;
  border: 0.8px solid #afb0b9;
  padding-left: 15px;
  appearance: none;
  cursor: pointer;
  @media (max-width: 950px) {
    width: 100%;
  }
}

.form__btn {
  margin-top: 20px;
  @media (max-width: 1200px) {
    width: 50%;
    max-width: 100%;
    margin-left: 25%;
    margin-bottom: 20px;
  }
  @media (max-width: 950px) {
    width: 100%;
    margin-left: 0;
  }
}

.home__image {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
