.testimonials__title {
  padding-top: 120px;
  max-width: 480px;
}

.testimonials__item {
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
}

.testimonials__name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  margin: 0 0 15px;
  padding-top: 100px;
}

.testimonials__position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.85);
  margin: 0 0 30px;
}

.testimonials__text {
  max-width: 480px;
}

.testimonials__image {
  position: relative;
  &::after {
    content: '';
    width: 132px;
    height: 60px;
    background-color: #fff;
    border-radius: 16px 0 0 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

.testimonials__image img {
  width: 384px;
  height: 491px;
  max-width: 100%;
  object-fit: cover;
  display: block;
}
